@model IEnumerable<ComplaintResolver.Model.ComplaintForm>

@{
    ViewBag.Title = "AllComplaints";
}

<h2>AllComplaints</h2>

<table class="table mt-3 demotbl" id="tableId">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Complaint_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_assigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayName("See Details")
            </th>
            
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaint_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_assigned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "UserHome", new { id = item.Complaint_id }, new { @class = "btn btn-success" })
                </td>
            </tr>
        </tbody>
    }

</table>


@section Css{
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/TableDesign.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#tableId').DataTable();
        });

    </script>
}



