@model IEnumerable<ComplaintResolver.Model.Feedback>

@{
    ViewBag.Title = "AllFeedbacksRecieved";
}

<h2>Feedbacks Recieved</h2>


<table class="table demotbl" id="Id" >

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complaints.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complaints.Date_assigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complaints.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complaints.ComplaintDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>             
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody class="table" >
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ComplaintId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.complaints.Employee_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.complaints.Date_assigned)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.complaints.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.complaints.ComplaintDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        </tbody>
    }

</table>

@section Css{
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <style>
        /*Using CSS for table*/
        .demotbl {
            border: 0px solid #69899F;
        }

            .demotbl th {
                padding: 15px;
                margin-left:10px;
                color: black;
                border-bottom: 3px solid #9ED929;
                background-color: steelblue !important;
                background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(123,192,67)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)) );
                background: -moz-linear-gradient( center bottom, rgb(123,192,67) 3%, rgb(139,198,66) 52%, rgb(158,217,41) 88% );
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius: 5px 5px 0px 0px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .demotbl td {
                width: 100px;
                margin:5px;
                padding: 10px;
                text-align: center;
                vertical-align: top;
                background-color: #D8F0FF;
                border: 1px solid #BED3AB;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                color: #666;
                text-shadow: 1px 1px 1px #fff;
            }
    </style>
}
@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#Id').DataTable();
        });

    </script>
}
