@model IEnumerable<ComplaintResolver.Model.ComplaintForm>

@{
    ViewBag.Title = "PendingComplaints";
}

<h2>PendingComplaints</h2>


<table class="table mt-5 demotbl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Complaint_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_assigned)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Employee_id)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint_id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date_assigned)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Employee_id)
            </td>
            
                @if (User.IsInRole("Serviceman"))
                {<td>
    @Html.ActionLink("Reply", "Reply", "EmployeeHome", new { id = item.Complaint_id }, new { @class = "btn btn-primary" })
</td>
    }

        </tr>
    }

</table>

@section css{
    <link href="~/Content/css/TableDesign.css" rel="stylesheet" />
    }
